.siteSlide img:focus,
.siteSlide img:active {
  -webkit-animation: siteBounce 0.4s ease-in-out 0s;
  -moz-animation: siteBounce 0.4s ease-in-out 0s;
  -o-animation: siteBounce 0.4s ease-in-out 0s;
  animation: siteBounce 0.4s ease-in-out 0s;
  border-radius: 50%;
  outline: none;
}

:global(.slick-center .innerSlide) {
  border-radius: 50%;
}

.siteSlideTitle {
  color: #d0a127;
  font-size: 51pt;
  text-transform: uppercase;
  padding-bottom: 2rem;
  letter-spacing: 2px;
  font-family: NexaRust;
  text-shadow: 3px 6px 3px rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  white-space: nowrap;
}

.siteSlide {
  /* default slide needs to shrink */
  display: flex;
  align-items: center;
  flex-flow: column;
  transform: scale(0.3);
}

/** need to make it bigger but also adjust position to handle the growth **/
.isBeforeSelected:first-of-type {
  transform: scale(0.5) translateX(-35%);
}

/** need to make it bigger but also adjust position to handle the growth **/
.isAfterSelected:first-of-type {
  transform: scale(0.5) translateX(35%);
}

.isSelected {
  transform: scale(0.75);
}

/* bounce for buttons */

@keyframes siteBounce {
  0% {
  }
  50% {
    transform: scale(2.25);
  }
}

@-webkit-keyframes siteBounce {
  0% {
  }
  50% {
    -webkit-transform: scale(2.25);
  }
}

@-moz-keyframes siteBounce {
  0% {
  }
  50% {
    -moz-transform: scale(2.25);
  }
}

@-ms-keyframes siteBounce {
  0% {
  }
  50% {
    -ms-transform: scale(2.25);
  }
}

@-o-keyframes siteBounce {
  0% {
  }
  50% {
    -o-transform: scale(2.25);
  }
}
