.siteCarousel {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.siteCarouselBackground {
  opacity: 0.2;
  background-color: black;
  width: 100%;
  height: 330px;
  position: absolute;
  bottom: 0;
}

.siteCarouselPositioner {
  position: absolute;
  bottom: 0%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.innerSlide {
  margin: 60px 40px;
  text-align: center;
  height: 400px;
  transition: scale 300ms ease;
  color: white;
  cursor: pointer;
}

.slick-list {
  padding: 0rem 2rem;
}

.slick-prev,
.slick-prev:focus,
.slick-prev:hover {
  background-image: url('./img/Left-Arrow.png');
  background-position: center;
  background-repeat: no-repeat;
}
.slick-next::before,
.slick-prev::before {
  display: none;
}

.slick-next,
.slick-next:focus,
.slick-next:hover {
  background-image: url('./img/Right-Arrow.png');
  background-position: center;
  background-repeat: no-repeat;
}

.slick-arrow {
  height: 100px;
  width: 40px;
  top: 42%;
}

.slick-arrow:focus,
.slick-arrow:active {
  -webkit-animation: arrowBounce 0.2s ease-in-out 0s;
  -moz-animation: arrowBounce 0.2s ease-in-out 0s;
  -o-animation: arrowBounce 0.2s ease-in-out 0s;
  animation: arrowBounce 0.2s ease-in-out 0s;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
}

.slick-center .innerSlide {
  border-width: 1px;
  border-color: white;
  border-style: solid;
  box-shadow: 0px 0px 2px 2px white;
}

/* bounce for buttons */

@keyframes arrowBounce {
  0% {
  }
  50% {
    transform: scale(1.5) translateY(-30px);
  }
}

@-webkit-keyframes arrowBounce {
  0% {
  }
  50% {
    -webkit-transform: scale(1.5) translateY(-30px);
  }
}

@-moz-keyframes arrowBounce {
  0% {
  }
  50% {
    -moz-transform: scale(1.5) translateY(-30px);
  }
}

@-ms-keyframes arrowBounce {
  0% {
  }
  50% {
    -ms-transform: scale(1.5) translateY(-30px);
  }
}

@-o-keyframes arrowBounce {
  0% {
  }
  50% {
    -o-transform: scale(1.5) translateY(-30px);
  }
}
