.app {
  min-height: 100%;
  height: 100vh;
  width: 100%;
}
/** every child page of the app should have a border radius and save space for the padding*/
.app > div {
  height: 100vh;
  width: 100%;
}
