body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

:focus {
  outline: none;
}

@font-face {
  font-family: LiberationSans;
  src: url(./fonts/LiberationSans-Regular.ttf);
}

@font-face {
  font-family: FranklinGothicBook;
  src: url(./fonts/franklingothic-book.otf);
}

@font-face {
  font-family: GhostLight;
  src: url(./fonts/Ghostlight-Regular.ttf);
}
@font-face {
  font-family: BuiltTitling;
  src: url('./fonts/built titling rg.ttf');
}

@font-face {
  font-family: NexaRust;
  src: url('./fonts/NexaRustSans-Black.otf');
}

/* bounce for buttons */

@keyframes buttonBounce {
  0% {
  }
  50% {
    transform: scale(1.5);
  }
}

@-webkit-keyframes buttonBounce {
  0% {
  }
  50% {
    -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes buttonBounce {
  0% {
  }
  50% {
    -moz-transform: scale(1.5);
  }
}

@-ms-keyframes buttonBounce {
  0% {
  }
  50% {
    -ms-transform: scale(1.5);
  }
}

@-o-keyframes buttonBounce {
  0% {
  }
  50% {
    -o-transform: scale(1.5);
  }
}

.button:focus,
.button:active {
  -webkit-animation: buttonBounce 0.2s ease-in-out 0s;
  -moz-animation: buttonBounce 0.2s ease-in-out 0s;
  -o-animation: buttonBounce 0.2s ease-in-out 0s;
  animation: buttonBounce 0.2s ease-in-out 0s;
}
